# Data operations in numpy

In [1]:
import numpy as np 
import matplotlib.pyplot as plt  

# Compute the x and y coordinates for points on a sine curve 
x = np.arange(0, 3 * np.pi, 0.1) 
y = np.sin(x) 
plt.title("sine wave form") 

# Plot the points using matplotlib 
plt.plot(x, y) 
plt.show()

In [3]:
# more than one dimensions 
import numpy as np 
a = np.array([[1, 2], [3, 4]]) 
print (a)

[[1 2]
 [3 4]]

In [4]:
# minimum dimensions 
import numpy as np 
a = np.array([1, 2, 3,4,5], ndmin = 2) 
print (a)

[[1 2 3 4 5]]

In [5]:
# dtype parameter 
import numpy as np 
a = np.array([1, 2, 3], dtype = complex) 
print (a)

[1.+0.j 2.+0.j 3.+0.j]

# Data operations in pandas

In [8]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print (s)

0    a
1    b
2    c
3    d
dtype: object

In [9]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [13]:
#creating an empty panel
import pandas as pd
import numpy as np
import sys

data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
        'Item2' : pd.DataFrame(np.random.randn(4, 2))}

print (data)

{'Item1':           0         1         2
0 -1.605564  0.367319  1.167152
1  0.521240 -1.622510 -0.036304
2  0.277608 -0.127789  0.330425
3  0.231658 -1.076087  2.102798, 'Item2':           0         1
0 -1.931565  1.440159
1 -0.405527  2.485794
2  0.747639  0.630587
3  0.224890 -1.149620}

# How to create dataframes

In [3]:
#creating dataframe using a list
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [2]:
#creating dataframe using dictionaries
import pandas as pd
dictionary = {'fruits':['apples', 'banana', 'mango'], 'count': [10,20,15]}
df = pd.DataFrame(dictionary)
df

   fruits  count
0  apples     10
1  banana     20
2   mango     15

In [6]:
#creating dataframe using series
import pandas as pd
Series = pd.Series([6,12,], index = ['a', 'b'])
df = pd.DataFrame(Series)
df

    0
a   6
b  12

In [8]:
#creating a dataframe using a numpy array
import numpy as np
import pandas as pd
numpyarray = np.array([[5000,6000,7000], ['sarah', 'serah', 'wakaba']])
df = pd.DataFrame({'name':numpyarray[1], 'salary':numpyarray[0])
df

SyntaxError: invalid syntax (<ipython-input-8-116f1ce1f485>, line 5)

# Merge Join and Concatenate

In [10]:
#How to perfom a merge operation
import pandas as pd
player = ['player1', 'player2','player3']
point = [8,9,6]
title = ['game1','game2','game3']
df1 = pd.DataFrame({'player':player, 'points':point, 'title':title})
df1

    player  points  title
0  player1       8  game1
1  player2       9  game2
2  player3       6  game3

In [11]:
player = ['player1','player5','player6']
power = ['punch', 'kick','elbow']
title = ['Game1', 'Game5', 'Game6']
df2 = pd.DataFrame({'player':player, 'power':power, 'title':title})
df2

    player  power  title
0  player1  punch  Game1
1  player5   kick  Game5
2  player6  elbow  Game6